<%- include('./partials/header') %> 
  </header>
  <main>
    <div class="deck__container">

      <article class="deckList">
        <ul>
          <li><h2>Cartes</h2></li>
          <% if(locals.decks){ %>
            <% for(let deck of locals.decks){ %>
              <form action="/deck/update" method="POST">
                <li>
                  <input type="text" name="name_<%= deck.id %>" value="<%= deck.name %>" id="deckNameInput" readonly>
                  <section class="add__deck__icons">
                    <a href="#"><i class="fa-solid fa-pen" id="updateBtn"></i></a>
                    <a href="/deck/remove/<%= deck.id %>"><i class="fa-solid fa-xmark" id="deleteBtn"></i></a>
                  </section>
                </li>
              </form>
            <% } %>
          <% } %>
          <a href="/deck/add"><li class="add__deck"><h1><i class="fa-solid fa-plus"></i></h1></li></a>
        </ul>
      </article>

      <article class="deck__cards" id="deckCardsPanel">
        <% cards.forEach((card) => { %>
          <article class="card__deck">
            <a href="#" id="addCardBtn">
              <h3 class="poke__name" id="cardName"><%= card.nom %></h3>
              <div class="card__deck__img">
                <img src="/img/<%= card.numero %>.png" alt="<%= card.nom %>">
              </div>
              <section class="deck__stats__left">
  
                <section class="deck__types">
  
                  <% for(const type of card.type){ %>
                    <div class="deck__type__container" color="#<%= type.color %>"> 
                      <img src="/icons/<%= type.name.toLowerCase() %>.svg" alt="<%= type.name.toLowerCase() %>">
                      <div class="deck__tooltip">
                        <h3><%= type.name %></h3>
                      </div>
                    </div>
                  <% } %>
  
                </section>
  
                <section class="deck__stats">
                  <div class="deck__card__stat">
                    <i class="fa-solid fa-heart"></i>
                    <h4><%= card.pv %></h4>
                  </div>
                  <div class="deck__card__stat">
                    <i class="fa-solid fa-bolt"></i>
                    <h4><%= card.attaque %></h4>
                  </div>
                  <div class="deck__card__stat">
                    <i class="fa-solid fa-shield"></i>
                    <h4><%= card.defense %></h4>
                  </div>
                  <div class="deck__card__stat">
                    <i class="fa-solid fa-cloud-bolt"></i>
                    <h4><%= card.attaque_spe %></h4>
                  </div>
                  <div class="deck__card__stat">
                    <i class="fa-solid fa-shield-halved"></i>
                    <h4><%= card.defense_spe %></h4>
                  </div>
                  <div class="deck__card__stat">
                    <i class="fa-solid fa-angles-right"></i>
                    <h4><%= card.vitesse %></h4>
                  </div>
                </section>
  
              </section>
              <section class="add__to__deck">
                <i class="fa-solid fa-plus"></i>
                <section class="card__deck__list">
                  <ul>
                    <% if(locals.decks){ %>
                      <% for(let deck of locals.decks){ %>
                        <li><a href="#"><%= deck.name %></a></li>
                      <% } %>
                    <% } %>
                  </ul>
                </section>
              </section>
              <h3 class="poke__numero">#<%= card.numero %></h3>
            </a>
          </article>
        <% }) %>
      </article>

      <article class="deck__filter">
        <h2>Filtres</h2>

        <hr>

        <section class="card__name">
          <input type="text" name="cardName" id="deckCardName" placeholder="Entrez un nom de Pokemon">
        </section>

        <hr>

        <section class="card__level">
          <div id="cardLevelSlider"></div>
        </section>

        <hr>

        <section class="card__types">
          <ul>
            <li><h3 class="cardType">Acier</h3></li>
            <li><h3 class="cardType">Combat</h3></li>
            <li><h3 class="cardType">Dragon</h3></li>
            <li><h3 class="cardType">Eau</h3></li>
            <li><h3 class="cardType">Electrik</h3></li>
            <li><h3 class="cardType">Feu</h3></li>
            <li><h3 class="cardType">Glace</h3></li>
            <li><h3 class="cardType">Insecte</h3></li>
            <li><h3 class="cardType">Normal</h3></li>
            <li><h3 class="cardType">Plante</h3></li>
            <li><h3 class="cardType">Poison</h3></li>
            <li><h3 class="cardType">Psy</h3></li>
            <li><h3 class="cardType">Roche</h3></li>
            <li><h3 class="cardType">Sol</h3></li>
            <li><h3 class="cardType">Spectre</h3></li>
            <li><h3 class="cardType">Ténèbres</h3></li>
            <li><h3 class="cardType">Vol</h3></li>
          </ul>
        </section>

        <hr>

        <section class="card__rarity">
          <ul>
            <li><h3>Commune</h3></li>
            <li><h3>Rare</h3></li>
            <li><h3>Epique</h3></li>
            <li><h3>Légendaire</h3></li>
          </ul>
        </section>

        <section class="deck__filter__icon">
          <img src="/icons/Poké_Ball_icon.svg" alt="poke_ball icon">
        </section>
        
      </article>

      <!-- <section class="cardDetails">
        card details
      </section> -->
    </div>

    <!-- <article class="back__to__main">
      <a href="/cards"><i class="fa-solid fa-rotate-left"></i></a> 
    </article> -->
  </main>

</div>
</body>
<script src="/js/deck.js"></script>
</html>


<%#- include('./partials/footer') %> 