<%- include('./partials/header') %> 
  <section id="filter">
    <div class="filter__top">
      <input type="text" name="pokeName" id="pokeName" placeholder="Enter a Pokemon name">
      <a href="#" class="remove__filter"><h4>Effacer les filtres</h4></a>
    </div>
  </section>
    <nav>
      <ul>
        <li class="list__toggle"><a href="#"><h4>Liste</h4></a></li>
        <li class="show__filters"><a href="#"><h4>Filtres</h4></li></a>
      </ul>
    </nav>
  </header>
  <main>
    <section id="filter">
      <div class="filter__bottom">
        <% for(const type of locals.types){ %>
          <a href="/type/<%= type.name %>" id="pokeType" color="#<%= type.color %>"><%= type.name %></a>
        <% } %>
      </div>
    </section>

    <div class="cards__container container__thumbnails">
      
      <% cards.forEach((card) => { %>
        <article class="card card__thumbnails">
          <a href="/card/<%= card.id %>">
            <img src="/img/<%= card.numero %>.png" alt="<%= card.nom %>">
            <section class="poke__name__numero">
              <h3 class="poke__numero">#<%= card.numero %></h3>
              <h3 class="poke__name"><%= card.nom %></h3>
            </section>
          </a>
        </article>
      <% }) %>

    </div>

    <div class="cards__container container__list">

      <ul>
        <% cards.forEach((card) => { %>
          <li class="card card__list">
            <a href="/card/<%= card.id %>">
              <img src="/img/<%= card.numero %>.png" alt="<%= card.nom %>">
              <section class="poke__name__numero">
                <h3 class="poke__numero">#<%= card.numero %></h3>
                <h3 class="poke__name"><%= card.nom %></h3>
              </section>
            </a>
          </li>
        <% }) %>
      </ul>

    </div>
  </main>

<script src="/js/home.js"></script>

<%- include('./partials/footer') %> 